<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>人民网</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="app">
    <div class="jumbotron">
        <div class="container">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link disabled" href="admin/index.html">后台管理</a>
                </li>
            </ul>
            <h1 class="display-4 text-center">人民网</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>健康</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="(item,index) in news" v-if="item.sort == '健康' && item.state == true">
                        <a :href="index">{{item.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>科普</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="(item,index) in news" v-if="item.sort == '科普' && item.state == true">
                        <a :href="index">{{item.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>教育</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="(item,index) in news" v-if="item.sort == '教育' && item.state == true">
                        <a :href="index">{{item.title}}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>